# local package
-e .

# external requirements
click
Sphinx
coverage
flake8
python-dotenv
pandas~=1.5.3
numpy
jupyter
scikit-learn
matplotlib
scipy
lxml
nltk
textblob
requests
seaborn
spacy
pandarallel
setuptools~=67.6.0
tqdm
yellowbrick
fastparquet
lxml
psutil
src~=0.1.0